@page "{reportID}"
@model RowLevelSecurityTesterModel

<div class="list-group">
    <form method="POST" asp-page-handler="SetReportRLS">
        <h1>Input Row Level Security Information (Optional)</h1>
        Name <input asp-for="Name" />
        Role <input asp-for="Role" />
        <input class="btn btn-success" style="margin: 10px" type="submit" value="Set Row Level Security" />
    </form>
</div>
